<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - AIA Console">AIA Console</title>
    <link rel="stylesheet" th:href="@{/css/console.css}">
</head>
<body>
    <div class="console-wrapper">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div class="console-main">
            <div th:replace="~{fragments/header :: header}"></div>
            <main class="console-content">
                <div layout:fragment="content"></div>
            </main>
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
    <script th:src="@{/js/console.js}"></script>
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>
